<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Hello, world!</title>
  </head>
  <header>                       
    <div class="topbar">
      <div class="container"> 
        <ul class="top-menu">
          <li> <a href="#">Login</a></li>
          <li><a href="#">Sign up</a></li>
          <li> <a href="#">Buy Now</a></li>
        </ul>
      </div>
    </div>
    <div class="secod_header">
      <div class="container">
        <div class="main_all_top"> 
          <div class="city">
            <select>
              <option value="Danh Muc">Danh Muc</option>
              <option value="Ahmedabad">Ahmedabad</option>
            </select>
          </div>
          <div class="search_sec">
            <input type="search" q="googlesearch" placeholder="Tim Kim Shane, Phame nang Han"><i class="fa fa-search"></i>
          </div>
          <div class="login"> <a href="#">Login</a></div>
          <div class="reg"> <a href="#">Registration</a></div>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="owl-carousel owl-theme" id="home-slider">
        <div class="item"><img src="images/slide3.jpg"></div>
        <div class="item"><img src="images/banner.jpg"></div>
        <div class="item"><img src="images/slide3.jpg"></div>
      </div>
    </div>
    <div class="container">
      <div class="main_first_section">
        <div class="sidebar">
          <ul class="side_menu">
            <li class="active"><a href="#">Danhmuc </a></li>
            <li><a href="#">Thoi Trang Phu Kien </a></li>
            <li> <a href="#">Do Dung Sinh Not</a></li>
            <li><a href="#">NOi That Nagoi</a></li>
            <li> <a href="#">The Thai</a></li>
            <li><a href="#">Dich vu,gai tri</a></li>
            <li> <a href="#">thurc pham,Do ungh</a></li>
            <li><a href="#">Khac</a></li>
          </ul>
        </div>
        <div class="tab_data">
          <div id="exTab1">
            <ul class="nav nav-pills">
              <li><a href="#1a" data-toggle="tab">Overview</a></li>
              <li><a href="#2a" data-toggle="tab">Using nav-pills</a></li>
              <li><a href="#3a" data-toggle="tab">Applying clearfix</a></li>
              <li><a href="#4a" data-toggle="tab">Background color</a></li>
            </ul>
            <div class="tab-content clearfix">
              <div class="tab-pane active" id="1a">
                <div class="owl-carousel owl-theme" id="our_team">
                  <div class="item"><img src="images/t1.jpeg"></div>
                  <div class="item"><img src="images/t2.jpeg"></div>
                </div>
              </div>
              <div class="tab-pane" id="2a">
                <h3>2</h3>
              </div>
              <div class="tab-pane" id="3a">
                <h3>3</h3>
              </div>
              <div class="tab-pane" id="4a">
                <h3>4</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <body>
    <div class="container">
      <div class="product_section">
        <div class="title"> 
          <h5>KHUYENMY</h5>
        </div>
        <div class="main_product">
          <div class="product1"> <img src="images/p1.jpg"></div>
          <div class="product2"><img src="images/p2.jpg"></div>
          <div class="product3"><img src="images/p3.jpg"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="product_section">
        <div class="title"> 
          <h5>XUHUONG</h5>
        </div>
        <div class="main_product pro2">
          <div class="product1"> <img src="images/p4.jpg"></div>
          <div class="product2"><img src="images/p5.jpg"></div>
          <div class="product3"><img src="images/p6.jpg"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="product_section">
        <div class="title"> 
          <h5>DON VI BAN HANG UY TIN</h5>
        </div>
        <div class="main_product pro3">
          <div class="product1"> <img src="images/p7.jpg"></div>
          <div class="product2"><img src="images/p8.jpg"></div>
          <div class="product3"><img src="images/p9.jpg"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="our_facility">
        <div class="box"><a href="#">Doanh nghiep uy tin</a><img src="images/box1.jpg"></div>
        <div class="box"><a href="#">Thanh toan an toan</a><img src="images/box2.jpg"></div>
        <div class="box"><a href="#">Giam Sat Don Hang</a><img src="images/box3.jpg"></div>
        <div class="box"><a href="#">Van Chuyen Linh Hoat</a><img src="images/box4.jpg"></div>
      </div>
    </div>
    <div class="container">
      <div class="main_mail">
        <div class="mail_first"><img src="images/ml.jpg"></div>
        <div class="mail_one">
          <input type="email" placeholder="Enter Email ID">
          <button>Send    </button>
        </div>
        <div class="mail_two"> <img src="images/email.jpg"></div>
      </div>
    </div>
  </body>
  <footer> 
    <div class="container">
      <div class="main_footer">
        <div class="footer1">
          <h5>About Links</h5>
          <ul>
            <li> <a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li> <a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer2">
          <h5>Useful Links</h5>
          <ul>
            <li> <a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li> <a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer3">
          <h5>Useful Links</h5>
          <ul>
            <li> <a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li> <a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="footer4">
          <div class="layout-set"><img src="images/fish.jpeg"></div>
        </div>
      </div>
    </div>
    <!-- Optional JavaScript-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="javascripts/owl.carousel.min.js"></script>
    <script>
      jQuery(document).ready(function() {
      jQuery("#home-slider").owlCarousel({
      navigation : false, // Show next and prev buttons
      navigationText: [
      "<i class='fa fa-angle-left'></i>",
      "<i class='fa fa-angle-right'></i>"
      ],
      slideSpeed : 300,
      paginationSpeed : 400,
      dots: true,
      autoPlay : 4000,
      singleItem:true
      });
      });
    </script>
    <script>
      jQuery(document).ready(function() {
      jQuery("#our_team").owlCarousel({
      navigation : true, // Show next and prev buttons
      navigationText: [
      "<i class='fa fa-angle-left'></i>",
      "<i class='fa fa-angle-right'></i>"
      ],
      slideSpeed : 300,
      paginationSpeed : 400,
      autoPlay : 6000,
      singleItem:true
      });
      });
    </script>
  </footer>
</html>