body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.topbar {
  float: left;
  width: 100%;
  background-color: #e46600;
  padding: 10px 0; }
  .topbar ul.top-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    color: #fff;
    float: right;
    margin: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .topbar ul.top-menu li a {
    color: #fff;
    padding: 5px 10px;
    font-size: 16px;
    display: table; }

.secod_header {
  float: left;
  width: 100%;
  background-color: #ff7200;
  padding: 30px 0; }

.login a, .reg a {
  color: #fff;
  text-decoration: none;
  text-align: right;
  float: right; }

.main_all_top div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.main_all_top div:nth-of-type(2) {
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3; }

.main_all_top div:nth-of-type(3) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.main_all_top div:nth-of-type(4) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.city select {
  width: 100%;
  padding: 10px 0;
  margin: 0 0 0 0;
  background-color: #fff;
  border: 0; }

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor; }

footer {
  float: left;
  width: 100%;
  background-color: #ff5a00;
  padding: 60px 0 40px 0; }

.main_footer div:nth-of-type(1) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.main_footer div:nth-of-type(2) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.main_footer div:nth-of-type(3) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.main_footer div:nth-of-type(4) {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.title {
  float: left;
  width: 100%;
  margin-bottom: 10px; }

.product_section {
  float: left;
  width: 100%;
  padding: 10px 0; }

.our_facility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
  padding: 30px 0;
  text-align: center;
  border-bottom: 1px solid #f75d4b;
  margin-bottom: 20px; }

.main_mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  float: left;
  width: 100%;
  margin: 20px 0 40px 0; }

div#home-slider, .slider {
  float: left;
  width: 100%; }

.mail_first {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #b7b7b7;
  padding: 16px 0; }

.mail_one {
  width: 100%;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #b7b7b7;
  padding: 37px 0;
  float: right;
  text-align: right;
  padding-right: 30px; }

.mail_one input {
  width: 80%;
  padding: 30px 20px; }

.mail_one button {
  padding: 30px 24px;
  background-color: #d24645;
  border: 0;
  color: #fff; }

.mail_two {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.our_facility a {
  color: #f75d4b;
  font-size: 18px;
  padding-bottom: 10px;
  float: left;
  width: 100%; }

.our_facility .box {
  border-right: 1px solid red; }

.our_facility .box:last-child {
  border: 0; }

.main_product div {
  padding: 0px 15px 0px 0px; }

.product1 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.product2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.product3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main_product div > img {
  border: 1px solid #e46600;
  max-width: 100%; }

.main_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  float: left;
  width: 100%; }

.title h5 {
  background-color: #ff7200;
  float: left;
  padding: 8px 40px;
  color: #fff; }

.main_footer h5 {
  color: #fff;
  border-bottom: 1px solid #fff;
  float: left;
  margin: 0 0 20px 0; }

.main_footer ul {
  float: left;
  width: 100%;
  padding: 0; }

.main_footer ul li {
  list-style: none;
  padding: 0;
  line-height: 29px; }

.main_footer ul li a {
  color: #fff; }

.main_all_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.main_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.search_sec input {
  border: 0;
  padding: 10px 0px;
  width: 100%;
  margin-left: 6px; }

.banner {
  float: left;
  width: 100%; }

.banner img {
  width: 100%; }

.layout-set {
  float: left;
  width: 100%; }

.search_sec i {
  position: absolute;
  right: 5px;
  font-size: 22px;
  top: 5px; }

.search_sec {
  position: relative; }

.main_product.pro2 .product1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main_product.pro2 .product2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.main_product.pro2 .product3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main_product.pro3 .product1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main_product.pro3 .product2 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.main_product.pro3 .product3 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.owl-pagination {
  margin: 0;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0; }

#our_team .owl-buttons .owl-prev {
  position: absolute;
  left: -20px;
  border-radius: 0px;
  background-color: #f8754b;
  position: absolute;
  top: 40%; }

.owl-buttons .owl-prev > i, .owl-buttons .owl-next > i {
  font-size: 40px; }

#our_team .owl-buttons .owl-next {
  right: -20px;
  border-radius: 0px;
  background-color: #f8754b;
  position: absolute;
  top: 40%; }

#our_team .owl-pagination .owl-page span {
  opacity: 10;
  background-color: #fff;
  border: 0; }

#our_team .owl-pagination .owl-page.active span {
  background-color: #f8754b; }

ul.side_menu {
  padding: 0;
  list-style: none;
  border: 1px solid #f8754b;
  float: left;
  width: 100%; }
  ul.side_menu li {
    float: left;
    width: 100%; }
  ul.side_menu li > a {
    padding: 18px 20px;
    float: left;
    width: 100%;
    color: #000;
    text-decoration: none;
    font-size: 16px; }
  ul.side_menu li.active a {
    background-color: #f8754b;
    color: #fff; }

ul.side_menu li a:hover {
  background-color: #f8754b;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

ul.side_menu li:hover > a {
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

#home-slider.owl-theme .owl-controls .owl-page span {
  width: 20px;
  height: 20px;
  opacity: 10; }

#home-slider.owl-theme .owl-controls .owl-page span {
  background: #fff; }

#home-slider.owl-theme .owl-controls .owl-page.active span {
  background: #e46600; }

div#exTab1 ul li a.active {
  background-color: #fff;
  color: #000;
  border: 1px solid #f8754b;
  border-bottom: 0; }

.main_first_section {
  padding: 30px 0 0 0;
  display: grid;
  grid-template-columns: 30% 68%;
  grid-gap: 0 20px;
  float: left;
  width: 100%; }

#exTab1 .tab-content {
  color: #000;
  background-color: transparent;
  padding: 25px 15px;
  border: 1px solid #f8754b; }

#exTab2 h3 {
  color: white;
  background-color: #f8754b;
  padding: 5px 15px; }

.item img {
  max-width: 100%; }

div#exTab1 ul li a {
  padding: 20px 25px;
  display: table;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  background-color: #f8754b;
  margin: 0 0 0 10px; }

#exTab1 ul.nav.nav-pills li.active a {
  background: transparent;
  color: #000;
  border: 1px solid #f8754b;
  border-bottom: 0; }

/* remove border radius for the tab */
#exTab1 .nav-pills > li > a {
  border-radius: 0; }

/* change border radius for the tab , apply corners on top*/
#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0; }

#exTab3 .tab-content {
  color: #fff;
  background-color: #428bca;
  padding: 5px 15px; }

.sidebar {
  -webkit-box-flex: 1.2;
  -ms-flex: 1.2;
  flex: 1.2; }

.tab_data {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

@media only screen and (max-width: 500px) {
  .mail_one input {
    width: 100%;
    padding: 30px 20px; }
  .mail_one button {
    width: 100%; }
  .mail_one {
    padding: 0; }
  .main_all_top {
    display: unset; }
  .search_sec input {
    margin: 0; }
  .search_sec {
    margin: 10px 0; }
  .login a, .reg a {
    margin: 10px 10px; } }

@media only screen and (max-width: 767px) {
  .main_product {
    display: unset; }
  .main_product div {
    padding: 0px 0px 20px 0px;
    text-align: center; } }

@media only screen and (max-width: 991px) {
  .our_facility {
    display: unset; }
  .our_facility .box {
    border: 0;
    margin-bottom: 30px; }
  .mail_first {
    text-align: center; }
  .mail_one {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset; }
  .main_first_section {
    grid-template-columns: 100%; }
  div#exTab1 ul li {
    float: left;
    width: 100%; }
  div#exTab1 ul li a {
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd; } }

@media only screen and (max-width: 1199px) {
  .mail_first, .mail_two {
    text-align: center; }
  .mail_one {
    -webkit-box-flex: unset;
    -ms-flex: unset;
    flex: unset; } }
